<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div th:replace="~{layout/base :: nav-bar}"></div>
  <main class="container auth-page">
    <h2>Create an account</h2>

    <p th:if="${error}" class="alert alert-error" th:text="${error}"></p>

    <form th:action="@{/ui/auth/register}"
          method="post"
          th:object="${registerRequest}">

      <input type="hidden"
             th:name="${_csrf.parameterName}"
             th:value="${_csrf.token}" />

      <label>Username</label>
      <input type="text"
             th:field="*{username}"
             placeholder="Choose a username" />
      <div class="error"
           th:if="${#fields.hasErrors('username')}"
           th:errors="*{username}">
      </div>

      <label>Password</label>
      <input type="password"
             th:field="*{password}"
             placeholder="Choose a password" />
      <div class="error"
           th:if="${#fields.hasErrors('password')}"
           th:errors="*{password}">
      </div>

      <button type="submit">Register</button>
    </form>

    <p class="auth-link mt-1">
      Already have an account? <a th:href="@{/ui/auth/login}">Login</a>
    </p>
  </main>
</html>
