<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<div th:replace="layout/base :: nav-bar"></div>
<div>
  <h2>Successfully applied for adoption</h2>
  <br/>
  <h3>Details</h3>
  <br/>
  <p>
    <strong>Pet Name:</strong>
    <span th:text="${adoptionApplication.petName}">Name</span>
  </p>

  <p>
    <strong>Status:</strong>
    <span th:text="${adoptionApplication.status}">2</span>
  </p>

  <p>
    <strong>User motivation message:</strong>
    <span th:text="${adoptionApplication.message}">n/a</span>
  </p>

  <p>
    <strong>Applied timestamp:</strong>
    <span th:text="${adoptionApplication.appliedAt}">n/a</span>
  </p>

  <a th:href="@{/ui/pet}">← Back to pets</a>
</div>

</html>
